version: "3"
services:
  api:
    build: .
    depends_on:
      - postgres
    ports:
      - 8000:8000
    volumes:
      - ./:/usr/src/app:ro
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - DATABASE_HOSTNAME=postgres
    env_file:
      - .env

  postgres:
    image: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-db:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=postgres
#    env_file:
#      - ./app/.env

volumes:
  postgres-db:
