{% extends 'page/base.html' %}

{% block content %}

<div style="margin: 100px 0 60px 0;">
    <h1 class="display-5" style="margin:30px 0 18px 0">
        Список сотрудников
    </h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Сотрудник</th>
            <th>Департамент</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list%}
        <tr>
            <td><b>{{ object.name }}</b></td>
            <td>{{ object.dep }}</td>
            <td>
                <a href="{% url 'choice' pk=object.id %}">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="people{{ person.id }}">Оценить</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}